@font-face {
  src: url('../fonts/something-strange.ttf');
  font-family: 'Something Strange';
}

$red: rgb(160, 0, 0);

@mixin bg {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
