@font-face {
  src: url('../fonts/angstridden.ttf');
  font-family: 'Angst Ridden';
}

$red: rgb(160, 0, 0);

@mixin bg {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}