/* SETTINGS */

@import '_settings.scss';

/* TOOLS */

@import 'reset.css';
@import 'bootstrap-reboot.css';
@import 'bootstrap-grid.css';

/* GENERIC */

* {
  box-sizing: border-box;
}

/* ELEMENTS */
html,
body {
  background: url('../img/night_bg.jpg');
  background-color: black;
  @include bg;
  background-repeat: repeat-y;
}
header {
  height: 500px;
  background: url('../img/stranger-hangman.png');
  @include bg;
}

h1,
h2,
h3,
h4,
p {
  font-family: monospace;
  text-align: center;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.6em;
  text-shadow: 1px 2px 5px lighten($red, 10%);
}
h4 {
  font-size: 1.4em;
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px 5px lighten($red, 10%);
}

/* OBJECTS */
#app {
  width: 768px;
  padding: 2em;
  margin: -100px auto 75px auto;
  border-top: 10px double $red;

  color: rgb(117, 117, 117);
}

div.row {
  margin: 2em 0;
}

footer {
  height: 75px;
  margin-bottom: 75px;
}

/* COMPONENTS */
h3#blanks {
  margin: 1.5em 0;
  font-size: 2.5em;
  text-align: center;
  color: $red;
}
#game h4 {
  text-align: center;
}
#status {
  color: #eee;
}
#hangman {
  border-right: 10px double darken($red, 10%);
}
#game-container {
  padding: 1em;
  margin-top: 75px;
  background: rgba(8, 13, 22, 0.8);
  border: 1px solid rgb(59, 0, 0);
  box-shadow: 3px 3px 10px darken($red, 15%);
}
#main-game {
  height: 250px;
  font-size: 1.5em;
}
#misses {
  font-family: 'Something Strange';
  font-size: 2em;
  color: white;
  letter-spacing: 10px;
}
#status-container {
  height: 25px;
  font-size: 1.75em;
}

ul.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
ul li {
  text-align: center;
}
.links svg,
.links a {
  display: block;
}
.links {
  svg {
    fill: $red;
    height: 50px;
    width: 50px;
    transition: 1s;
    &:hover {
      fill: rgb(219, 219, 219);
    }
  }
  li {
    margin: 5px;
  }
}

/* TRUMPS */
.red {
  color: $red;
}
.red-dark {
  color: dark($red, 30%);
}
.red-light {
  color: lighten($red, 30%);
}
.no-shadow {
  text-shadow: none !important;
}
